.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: $color-third;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

    .contact-item-info {
        width: 420px;
        margin: 0 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.8rem;

        h5 {
            margin-right: 10px;
            font-family: $font-secondaire;
            color: $color-firth;
        }

        h6 {
            padding-top: 12px;
            font-size: 1.3rem;
            font-family: $font-tertiare;
            font-weight: 600;
            color: $color-hept;
        }
    }
}