.header {
    width: 100%;
    max-height: 100px;

    background-color: $color-firth;
    border-bottom: solid 1px $color-third;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;

    position: absolute;
    z-index: 2;

    .profile {
        width: 130px;
        text-align: center;
        border-right: solid 1px $color-third;
        img {
            width: 50%;
            border-radius: 100%;
            border: solid 6px $color-second;
            margin: 7px 0;
        }
    }

    .header-title {
        font-size: 3rem;
        margin: 4px 420px 12px 80px;
        text-decoration: none;
        color: $color-third;
    }

    .toggle {
        display: none;
    }
}

.home-active {
    //nothing appens
}

@media screen and (max-width: 720px) {
    .toggle {
        width: 130px;
        text-align: center;
        border-left: solid 1px $color-third;
        img {
            width: 50%;
        }
    }
}