.image-section {
    width: 70%;
    height: auto;
    margin: 30px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .img {
        width: 35%;
        height: 50vh;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0px 0px 5px black;
        }
    }

    .about-text {
        width: 65%;
        margin-left: 70px;
        padding: 5px 20px 0 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        text-align: center;

        background-color: $color-third;
        box-shadow: 0px 0px 5px black;
        border-radius: 15px;        

        h3 {
            font-size: 2.4rem;
            color: $color-firth;
            margin-bottom: 20px;
            text-shadow: 1px 0px 0px black;
        }

        span {
            font-size: 2.6rem;
        }

        p {
            font-family: $font-secondaire;
            color: $color-hept;
        }

        .about-btn {
            margin: 40px 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            
            a {
                border: solid 2px $color-fifth;
                border-radius: 14px;
                padding: 5px 10px;
                margin: 0 20px;
                outline: none;
                font-family: $font-tertiare;
                font-weight: 600;
                font-size: inherit;
                cursor: pointer;
                text-decoration: none;
                font-size: 1.2rem;
                color: $color-firth;
                box-shadow: 0px 0px 3px black;
            }
            

            a:hover {
                background-color: $color-third;
                transition: 0.4s ease-in-out;
            }
        }
    }

}