.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;

    .nav-item {
        width: auto;
        height: auto;
        text-align: center;
        margin: 0 10px;
        a {
            text-decoration: none;
            font-size: 1.4rem;
            color: $color-third;
            padding: 5px 10px;
        }
        &:hover {
            transform: scale(1.2);
            transition: transform 0.3s ease-out;
        }
    }
}

.active {
    border: solid 2px $color-fifth;
    border-radius: 14px;
}