.projects-page {
    width: 100%;
    height: 90vh;
    min-height: 90vh;
    
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    .caroussel {
        width: 60%;
        height: 540px;
        margin-top: 20px;

        .slide {
            transform: scale(0.2);
            transition: transform 300ms; // same than carousel settings
            opacity: 0.5;
        }

        .activeSlide {
            transform: scale(1);
            opacity: 1;
        }

        .arrow {
            color: $color-third;
            border-radius: 20px;
            padding-top: 1px;
            position: absolute;
            cursor: pointer;
            z-index: 10;
        }
        
        .arrow svg {
            width: 70px;
            height: 70px;
            transition: color 300ms;
        }

        .arrow svg:hover {
            color: $color-sith;
        }

        .next {
            right: 0%;
            top: 44%;
        }
        .prev {
            left: 0%;
            top: 44%;
        }
    }

    @media screen and (max-width: 1024px) {
        .caroussel {
            width: 90%;
            height: 600px;
            margin-top: 30px;

            .project-card {
                height: 600px;
            
                h3 {
                    font-size: 1.8rem;
                }
            
                .github-btn {
                    margin: 100px 80px;
                }
            }
        }  
    }
    
    @media screen and (max-width: 720px) {
        
    }
}