.skillpage {
    width: 100%;
    height: auto;
    min-height: 90vh;
    
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 2.8rem;
    }
    

    .coding-skills {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        background-color: $color-firth;
        border-radius: 50px;
    }

    .more-skills {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        padding-bottom: 20px;
        background-color: $color-firth;
        border-radius: 50px;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;

    h4 {
        font-size: 2.5rem;
        margin: 20px;
        color: $color-third;
    }

    .skill-list {
        font-family: $font-secondaire;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center ;

            h5 {
                font-size: 1rem;
                margin-top: 20px;
                margin-bottom: 2px;
            }
        }
    }
}