.skillpage {
    width: 100%;
    height: auto;
    min-height: 90vh;
    
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 2.2rem;
    }
    

    .skillpage-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:88vw;
        max-height: 80vh;
        text-align: center;
        background-color: $color-third;
        border-radius: 20px;

        .coding-skills {
            display: flex;
            flex-direction: column;
            margin: 15px;

            .skills-container {
                display: flex;
                flex-direction: row;

                h5 {
                    margin-top: 15px;
                }
            }
        }

        .more-skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
            border-left: solid 2px $color-third;

            .skills-container {
                display: flex;
                flex-direction: column;

                .skills {

                    .langues {
                        margin-top: 50px;
                    }

                    .skill-list {
                        margin: 20px 0;

                        p {
                            color: $color-hept;
                            font-size: 1.1rem;
                            font-weight: 600;
                            margin: 1px 0;
                        }
                    }
                } 
            }
        }
        
        .skills {
            display: flex;
            flex-direction: column;
            padding: 0 50px;

            h4 {
                font-size: 2.5rem;
                margin: 5px;
                color: $color-firth;
                text-shadow: 1px 0px 0px black;
            }

            .skill-list {
                font-family: $font-secondaire;
                color: $color-sith;
                font-size: 1.2rem;
                display: flex;
                flex-direction: column;

                .list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center ;

                    h5 {
                        font-size: 1.2rem;
                        text-shadow: 1px 0px 1px black;
                    }
                }

                .category {
                    margin: 10px;
                }
            }
        }
    }
}

