.title-page {
    text-transform: uppercase;
    font-size: 4rem;
    color: $color-firth;
    text-decoration: underline;
    text-decoration-color: $color-fifth;
    text-shadow: $color-third 1px 0 4px;

    span {
        font-size: 5rem;
    }

    @media screen and (max-width: 1024px) {
            
    }
    
    @media screen and (max-width: 720px) {
        
    }
}