// FONTS 
@font-face {
    font-family: SoupLeef;
    src: url("/src/assets/font/SoupLeaf.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');
$font-principale: 'Nanum Pen Script', cursive;
$font-secondaire: 'KoHo', sans-serif;
$font-tertiare: 'The Girl Next Door', cursive;
$font-lettrine: SoupLeef ;


// COLORS
$color-firth: #264653;
$color-second: #2a9d8f;
$color-third: #e9c46a;
$color-fourth: #f4a261;
$color-fifth: #e76f51;
$color-sith: rgb(90, 146, 5);

// FILES CSS
@import './navbar';
@import './header';
@import './footer';
@import './title';
@import './servicecard';
@import './imagesection';
@import './skillssection';
@import './homepage';
@import './servicespage';
@import './aboutpage';
@import './skillspage';
@import './projectspage';

// MAIN CSS

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: $color-second;
    font-family: $font-principale;
    font-size: 1.33rem;
    background-color: #d2f0f8;
}

span {
    font-family: $font-lettrine;
    color: $color-sith;
}

.App {
    height: 110vh;
        background-image: url(../assets/img/header-3.png);
        background-position: bottom;
        background-size: contain;
        z-index: -2;

    .tsparticles-canvas-el {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .content {
        width: auto;
        height: auto;
        padding-top: 97px;
    }
}