// FONTS 
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
$font-principale: 'Nanum Pen Script', cursive;
$font-secondaire: 'Gafata', sans-serif;
$font-tertiare: 'East Sea Dokdo', cursive;

// COLORS
$color-firth: #264653;
$color-second: #2a9d8f;
$color-third: #e9c46a;
$color-fourth: #f4a261;
$color-fifth: #e76f51;

// FILES CSS
@import './navbar';
@import './header';
@import './homepage';

// MAIN CSS

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: $color-second;
    font-family: $font-principale;
    font-size: 1.33rem;
    background-color: $color-firth;
}

.App {
    height: 100vh;

    .tsparticles-canvas-el {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .main-content {
        background-color: #B8CBD0;
    }

    .content {
        width: auto;
        height: auto;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: solid 1px $color-third;
        p {
            font-size: 1.3rem;
            text-align: center;
            margin: 10px 30px;
        }
    }
}