@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap");
@font-face {
  font-family: SoupLeef;
  src: url("/src/assets/font/SoupLeaf.ttf");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .nav-item {
  width: auto;
  height: auto;
  text-align: center;
  margin: 0 10px;
}

.nav .nav-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #e9c46a;
  padding: 5px 10px;
}

.nav .nav-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.active {
  border: solid 2px #e76f51;
  border-radius: 14px;
}

.header {
  width: 100%;
  max-height: 100px;
  background-color: #264653;
  border-bottom: solid 1px #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}

.header .profile {
  width: 130px;
  text-align: center;
  border-right: solid 1px #e9c46a;
}

.header .profile img {
  width: 50%;
  border-radius: 100%;
  border: solid 6px #2a9d8f;
  margin: 7px 0;
}

.header .header-title {
  font-size: 3rem;
  margin-right: 420px;
  margin-bottom: 12px;
}

.header .header-title span {
  color: #e9c46a;
}

.header .toggle {
  width: 130px;
  text-align: center;
  border-left: solid 1px #e9c46a;
}

.header .toggle img {
  width: 50%;
}

@media screen and (max-width: 720px) {
  .toggle {
    width: 130px;
    text-align: center;
    border-left: solid 1px #e9c46a;
  }
  .toggle img {
    width: 50%;
  }
}

.footer {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #e9c46a;
  background-color: #264653;
  position: relative;
  z-index: 2;
}

.footer p {
  font-size: 1.3rem;
  text-align: center;
  margin: 10px 30px;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer-links .img-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-page {
  text-transform: uppercase;
  font-size: 4rem;
  color: #264653;
  text-decoration: underline;
  -webkit-text-decoration-color: #e76f51;
          text-decoration-color: #e76f51;
  text-shadow: #e9c46a 1px 0 4px;
}

.title-page span {
  font-size: 5rem;
}

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 360px;
  min-height: 560px;
  background-color: whitesmoke;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  margin: 40px 0;
}

.services-card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-card h3 {
  font-family: "KoHo", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 0px 0px black;
}

.services-card p {
  font-family: "The Girl Next Door", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 10px 0 10px;
}

.image-section {
  width: 70%;
  height: auto;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-section .img {
  width: 35%;
  height: 50vh;
}

.image-section .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 5px;
}

.image-section .about-text {
  width: 65%;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.image-section .about-text h3 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.image-section .about-text span {
  font-size: 2.6rem;
}

.image-section .about-text p {
  font-family: "KoHo", sans-serif;
}

.image-section .about-text .about-btn {
  margin: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.image-section .about-text .about-btn a {
  border: solid 2px #e76f51;
  border-radius: 14px;
  padding: 5px 10px;
  margin: 0 20px;
  outline: none;
  font-family: "The Girl Next Door", cursive;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  color: #264653;
}

.image-section .about-text .about-btn a:hover {
  background-color: #e9c46a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.skills-section {
  margin: 15px 0;
}

.skills-section .skills-container h5 {
  font-family: "KoHo", sans-serif;
  font-size: 2rem;
}

.skills-section .skills-container .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-section .skills-container .skill-bar .skill-text {
  font-family: "KoHo", sans-serif;
  font-size: 1.2rem;
  margin-left: 20px;
}

.skills-section .skills-container .skill-bar .skill-progress .progress {
  width: 12rem;
  height: 0.4rem;
  margin-left: 1rem;
  background-color: #2a9d8f;
  border-radius: 20px;
  position: relative;
}

.skills-section .skills-container .skill-bar .skill-progress .progress .inner-progress {
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #e9c46a;
  border-radius: 20px;
}

.homepage {
  height: 90vh;
  position: relative;
  background-image: url(../assets/img/header.png);
  background-position: bottom;
  background-size: cover;
}

.homepage .home-main-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.homepage .home-main-info h1 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #264653;
  text-transform: uppercase;
  text-shadow: 2px 1px 2px black;
}

.homepage .home-main-info .home-typed-text {
  font-family: "KoHo", sans-serif;
  font-size: 1.8rem;
  color: #e76f51;
  text-shadow: 2px 1px 2px black;
}

.homepage .home-main-info .home-btn {
  background-color: #264653;
  border: solid 2px #e76f51;
  -webkit-box-shadow: 2px 1px 2px black;
          box-shadow: 2px 1px 2px black;
  border-radius: 14px;
  padding: 5px 10px;
  margin-top: 20px;
}

.homepage .home-main-info .home-btn a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: #e9c46a;
  text-shadow: 2px 1px 2px black;
}

.homepage .home-main-info .home-btn:hover {
  background-color: #264653;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.services-page {
  width: 100%;
  height: auto;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-page .services-container {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutpage {
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillpage {
  width: 100%;
  height: auto;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillpage h3 {
  font-size: 2.8rem;
}

.skillpage .coding-skills {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #264653;
  border-radius: 50px;
}

.skillpage .more-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  padding-bottom: 20px;
  background-color: #264653;
  border-radius: 50px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.skills h4 {
  font-size: 2.5rem;
  margin: 20px;
  color: #e9c46a;
}

.skills .skill-list {
  font-family: "KoHo", sans-serif;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.skills .skill-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skill-list .list h5 {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 2px;
}

.projects-page {
  width: 100%;
  height: auto;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: #2a9d8f;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.33rem;
  background-color: #d2f0f8;
}

span {
  font-family: SoupLeef;
  color: #5a9205;
}

.App {
  height: 110vh;
  background-image: url(../assets/img/header-3.png);
  background-position: bottom;
  background-size: contain;
  z-index: -2;
}

.App .tsparticles-canvas-el {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.App .content {
  width: auto;
  height: auto;
  padding-top: 97px;
}
/*# sourceMappingURL=App.css.map */