@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap");
@import url(f:\Projets Dev\cc_portefolio\node_modules\slick-carousel\slick\slick.css);
@import url(f:\Projets Dev\cc_portefolio\node_modules\slick-carousel\slick\slick-theme.css);
@font-face {
  font-family: SoupLeef;
  src: url("/src/assets/font/SoupLeaf.ttf");
}

.header {
  width: 100%;
  height: 11vh;
  background-color: #264653;
  border-bottom: solid 1px #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
}

.header .profile {
  width: 130px;
  text-align: center;
  border-right: solid 1px #e9c46a;
}

.header .profile img {
  width: 50%;
  border-radius: 100%;
  border: solid 6px #2a9d8f;
  margin: 7px 0;
}

.header .header-title {
  font-size: 3rem;
  margin: 4px auto 12px 50px;
  text-decoration: none;
  color: #e9c46a;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 50px;
  margin-left: auto;
}

.header .nav .nav-item {
  width: auto;
  height: auto;
  text-align: center;
  margin: 0 10px;
}

.header .nav .nav-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #e9c46a;
  padding: 5px 10px;
}

.header .nav .nav-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header .toggle {
  display: none;
}

.active {
  border: solid 2px #e76f51;
  border-radius: 14px;
}

@media screen and (max-width: 1024px) {
  .header .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    cursor: pointer;
    z-index: 10;
  }
  .header .toggle img {
    width: 50%;
  }
  .header .nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #264653;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .header .nav.open {
    clip-path: circle(1400px at 90% -20%);
    -webkit-clip-path: circle(1400px at 90% -20%);
  }
}

.footer {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #e9c46a;
  background-color: #264653;
  color: #e9c46a;
  position: relative;
  z-index: 2;
}

.footer p {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 30px;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer-links h4 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #f4a261;
}

.footer .footer-links .img-links {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-links .img-links a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

.footer .footer-links .img-links a img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.title-page {
  text-transform: uppercase;
  font-size: 4rem;
  color: #264653;
  text-decoration: underline;
  -webkit-text-decoration-color: #e76f51;
          text-decoration-color: #e76f51;
  text-shadow: #e9c46a 1px 0 4px;
}

.title-page span {
  font-size: 5rem;
}

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 360px;
  min-height: 560px;
  background-color: #e9c46a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  margin: 40px 0;
}

.services-card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-card h3 {
  font-family: "KoHo", sans-serif;
  font-size: 2rem;
  color: #264653;
  text-shadow: 1px 0px 0px black;
}

.services-card p {
  font-family: "The Girl Next Door", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  color: #313131;
  padding: 20px 10px 0 10px;
}

.services-card:hover img {
  opacity: 0.75;
}

.image-section {
  width: 70%;
  height: auto;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-section .img {
  width: 35%;
  height: 50vh;
}

.image-section .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.image-section .about-text {
  width: 65%;
  margin-left: 70px;
  padding: 5px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #e9c46a;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  border-radius: 15px;
}

.image-section .about-text h3 {
  font-size: 2.4rem;
  color: #264653;
  margin-bottom: 20px;
  text-shadow: 1px 0px 0px black;
}

.image-section .about-text span {
  font-size: 2.6rem;
}

.image-section .about-text p {
  font-family: "KoHo", sans-serif;
  color: #313131;
}

.image-section .about-text .about-btn {
  margin: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.image-section .about-text .about-btn a {
  border: solid 2px #e76f51;
  border-radius: 14px;
  padding: 5px 10px;
  margin: 0 20px;
  outline: none;
  font-family: "The Girl Next Door", cursive;
  font-weight: 600;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  color: #264653;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}

.image-section .about-text .about-btn a:hover {
  background-color: #e9c46a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.skills-section {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-section .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-section .skills-container h6 {
  width: 100px;
  font-family: "KoHo", sans-serif;
  font-size: 1.1rem;
  color: #313131;
}

.skills-section .skills-container .skill-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-section .skills-container .skill-bar .skill-text {
  font-family: "KoHo", sans-serif;
  font-size: 1.2rem;
  margin-left: 20px;
  color: #313131;
}

.skills-section .skills-container .skill-bar .skill-progress .progress {
  width: 12rem;
  height: 0.4rem;
  margin-left: 1rem;
  background-color: #2a9d8f;
  border-radius: 20px;
  position: relative;
  border: solid 3px #264653;
}

.skills-section .skills-container .skill-bar .skill-progress .progress .inner-progress {
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #f4a261;
  border-radius: 20px;
}

.skills-section .skills-container .skill-bar .skill-text-project {
  font-family: "KoHo", sans-serif;
  font-size: 1.2rem;
  margin-left: 20px;
  color: #313131;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 540px;
  background-color: #e9c46a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
}

.project-card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom: solid 1px #818181;
  background-color: #343434;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-card h3 {
  font-family: "KoHo", sans-serif;
  font-size: 2rem;
  color: #264653;
  text-shadow: 1px 0px 0px black;
  margin: 20px 0;
}

.project-card p {
  font-family: "The Girl Next Door", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  color: #313131;
  margin: 0 10%;
  height: 100px;
}

.project-card:hover img {
  opacity: 0.75;
}

.project-card .github-btn {
  margin: 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-card .github-btn a {
  border: solid 2px #e76f51;
  border-radius: 14px;
  padding: 5px 10px;
  margin: 0 20px;
  outline: none;
  font-family: "The Girl Next Door", cursive;
  font-weight: 600;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  color: #264653;
  -webkit-box-shadow: 0px 0px 3px black;
          box-shadow: 0px 0px 3px black;
}

.project-card .github-btn a:hover {
  background-color: #e9c46a;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.timeline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
  position: relative;
  width: 90%;
  height: auto;
  color: black;
}

.timeline-container::after {
  background-color: #f4a261;
  content: "";
  position: absolute;
  left: calc(50% - 2PX);
  top: 20px;
  width: 4px;
  height: 60vh;
}

.timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-end;
          flex-direction: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
  width: 50%;
}

.timeline-item .timeline-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  max-width: 70%;
  padding: 5px 15px;
  background-color: #e9c46a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
  position: relative;
}

.timeline-item .timeline-item-container h3 {
  color: #264653;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.8rem;
  font-weight: 700;
}

.timeline-item .timeline-item-container h4 {
  color: #528505;
  font-family: "KoHo", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 10px;
}

.timeline-item .timeline-item-container p {
  color: #313131;
  font-family: "The Girl Next Door", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.35rem;
  margin-top: 10px;
}

.timeline-item .timeline-item-container .circle {
  width: 20px;
  height: 20px;
  background-color: #e9c46a;
  border: solid 3px #e76f51;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -98px;
  z-index: 10;
}

.timeline-item .timeline-item-container::after {
  content: " ";
  background-color: #e9c46a;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: -9px;
  top: calc(50% - 7.5px);
  -webkit-box-shadow: 1px -1px 0px #363636;
          box-shadow: 1px -1px 0px #363636;
}

.timeline-item:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item:nth-child(odd) .timeline-item-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-container .circle {
  right: auto;
  left: -97px;
}

.timeline-item:nth-child(odd) .timeline-item-container::after {
  right: auto;
  left: -9px;
  -webkit-box-shadow: -1px 1px 0px #363636;
          box-shadow: -1px 1px 0px #363636;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e9c46a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.contact-item .contact-item-info {
  width: 420px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.contact-item .contact-item-info h5 {
  margin-right: 10px;
  font-family: "KoHo", sans-serif;
  color: #264653;
}

.contact-item .contact-item-info h6 {
  padding-top: 12px;
  font-size: 1.3rem;
  font-family: "The Girl Next Door", cursive;
  font-weight: 600;
  color: #313131;
}

.homepage {
  height: 90vh;
  position: relative;
  background-image: url(../assets/img/header.png);
  background-position: bottom;
  background-size: cover;
}

.homepage .home-main-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.homepage .home-main-info h1 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #e9c46a;
  text-transform: uppercase;
  text-shadow: 2px 1px 2px black;
}

.homepage .home-main-info .home-typed-text {
  font-size: 1.8rem;
  text-shadow: 2px 1px 2px black;
  margin-bottom: 10px;
}

.homepage .home-main-info .home-typed-text span {
  color: #2a9d8f;
}

.homepage .home-main-info .home-btn {
  background-color: #264653;
  border: solid 2px #e76f51;
  -webkit-box-shadow: 2px 1px 2px black;
          box-shadow: 2px 1px 2px black;
  border-radius: 14px;
  padding: 5px 10px;
  margin-top: 20px;
}

.homepage .home-main-info .home-btn a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: #e9c46a;
  text-shadow: 2px 1px 2px black;
}

.homepage .home-main-info .home-btn:hover {
  background-color: #264653;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .homepage .home-main-info {
    margin-top: 320px;
  }
  .homepage .home-main-info h1 {
    font-size: 3rem;
  }
  .homepage .home-main-info .home-typed-text {
    font-size: 1.4rem;
  }
}

.services-page {
  width: 100%;
  height: auto;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-page .services-container {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .services-page .services-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-page .services-container .services-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 0;
    max-width: 860px;
    min-height: 160px;
  }
  .services-page .services-container .services-card img {
    max-width: 200px;
    height: 200px;
    border-right: solid 2px #f4a261;
  }
  .services-page .services-container .services-card h3 {
    margin-top: 20px;
  }
}

.aboutpage {
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .aboutpage .image-section {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
  .aboutpage .image-section .img {
    width: 15%;
    height: 10vh;
    margin-bottom: 20px;
  }
  .aboutpage .image-section .about-text {
    width: 100%;
    margin-left: 0px;
  }
}

.skillpage {
  width: 100%;
  height: auto;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillpage .skillpage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 88vw;
  max-height: 80vh;
  text-align: center;
  background-color: #e9c46a;
  border-radius: 20px;
}

.skillpage .skillpage-container .coding-skills {
  margin: 15px;
}

.skillpage .skillpage-container .coding-skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skillpage .skillpage-container .more-skills {
  margin: 15px;
  border-left: solid 2px #e9c46a;
}

.skillpage .skillpage-container .more-skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillpage .skillpage-container .more-skills .skills-container .skills .langues {
  margin-top: 50px;
}

.skillpage .skillpage-container .more-skills .skills-container .skills .skill-list {
  margin: 20px 0;
}

.skillpage .skillpage-container .more-skills .skills-container .skills .skill-list p {
  color: #313131;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1px 0;
}

.skillpage .skillpage-container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

.skillpage .skillpage-container .skills h4 {
  font-size: 2.5rem;
  margin: 5px;
  color: #264653;
  text-shadow: 1px 0px 0px black;
}

.skillpage .skillpage-container .skills .skill-list {
  font-family: "KoHo", sans-serif;
  color: #528505;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillpage .skillpage-container .skills .skill-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillpage .skillpage-container .skills .skill-list .list h5 {
  font-size: 1.2rem;
  text-shadow: 1px 0px 1px black;
  margin-top: 15px;
}

.skillpage .skillpage-container .skills .skill-list .category {
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .skillpage .skillpage-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillpage .skillpage-container .skill-text {
    display: none;
  }
  .skillpage .skillpage-container .skill-progress {
    display: none;
  }
  .skillpage .skillpage-container .coding-skills .skills-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skillpage .skillpage-container .more-skills {
    margin: 0 15px 15px 15px;
  }
  .skillpage .skillpage-container .more-skills .skills-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skillpage .skillpage-container .more-skills .skills-container .skills {
    margin-right: 60px;
  }
  .skillpage .skillpage-container .more-skills .skills-container .skills .langues {
    margin-top: 0px;
  }
  .skillpage .skillpage-container .more-skills .skills-container .skills .skill-list {
    margin: 10px 0;
  }
  .skillpage .skillpage-container .more-skills .skills-container .skills .skill-list p {
    font-size: 1rem;
  }
  .skillpage .skillpage-container .skills h4 {
    font-size: 1.8rem;
    margin: 0;
  }
  .skillpage .skillpage-container .skills .skill-list .list h5 {
    font-size: 1rem;
    margin-top: 10px;
  }
  .skillpage .skillpage-container .skills .skill-list .category {
    margin: 0;
  }
  .skillpage .skillpage-container .skills .skill-list .category .skills-container h6 {
    font-size: 1rem;
  }
  .skillpage .skillpage-container .skills .skill-list .category .skills-container .skill-text-project {
    font-size: 1rem;
  }
}

.exp-page {
  width: 100%;
  height: 90vh;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .exp-page .timeline-container {
    width: 100%;
  }
  .exp-page .timeline-container::after {
    top: 0px;
    height: 65vh;
  }
  .exp-page .timeline-item .timeline-item-container {
    max-width: 80%;
    padding: 5px 15px;
  }
  .exp-page .timeline-item .timeline-item-container h3 {
    font-size: 1.4rem;
  }
  .exp-page .timeline-item .timeline-item-container h4 {
    font-size: 1rem;
  }
  .exp-page .timeline-item .timeline-item-container p {
    font-size: 1rem;
  }
  .exp-page .timeline-item .timeline-item-container .circle {
    width: 15px;
    height: 15px;
    right: -34px;
  }
  .exp-page .timeline-item:nth-child(odd) .timeline-item-container .circle {
    right: auto;
    left: -34px;
  }
}

.projects-page {
  width: 100%;
  height: 90vh;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page .caroussel {
  width: 60%;
  height: 540px;
  margin-top: 20px;
}

.projects-page .caroussel .slide {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  opacity: 0.5;
}

.projects-page .caroussel .activeSlide {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.projects-page .caroussel .arrow {
  color: #e9c46a;
  border-radius: 20px;
  padding-top: 1px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.projects-page .caroussel .arrow svg {
  width: 70px;
  height: 70px;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.projects-page .caroussel .arrow svg:hover {
  color: #528505;
}

.projects-page .caroussel .next {
  right: 0%;
  top: 44%;
}

.projects-page .caroussel .prev {
  left: 0%;
  top: 44%;
}

@media screen and (max-width: 1024px) {
  .projects-page .caroussel {
    width: 90%;
    height: 600px;
    margin-top: 30px;
  }
  .projects-page .caroussel .project-card {
    height: 600px;
  }
  .projects-page .caroussel .project-card h3 {
    font-size: 1.8rem;
  }
  .projects-page .caroussel .project-card .github-btn {
    margin: 100px 80px;
  }
}

.contact-page {
  width: 100%;
  min-height: 90vh;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page .contact-container {
  margin-top: 60px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-page .contact-container .contact-map {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.contact-page .contact-container .contact-info {
  width: auto;
  height: 400px;
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .contact-page .contact-container {
    margin-top: 0px;
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-page .contact-container .contact-map {
    margin: 20px 0;
  }
  .contact-page .contact-container .contact-info {
    height: 300px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: #2a9d8f;
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.3rem;
}

span {
  font-family: SoupLeef;
  color: #528505;
}

.background {
  height: auto;
  background-color: #5ca2e4;
  background-position: bottom;
  background-size: auto;
  overflow-y: auto;
  z-index: -3;
}

.background .App {
  height: 108vh;
  background-image: url(../assets/img/header-3.png);
  background-position: bottom;
  background-size: cover;
  z-index: -2;
  overflow-y: hidden;
}

.background .App .tsparticles-canvas-el {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.background .App .content {
  width: auto;
  height: auto;
  padding-top: 97px;
}
/*# sourceMappingURL=App.css.map */