// FILES CSS
@import './navbar';
@import './header';
@import './homepage';

// FONTS 
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
$font-principale: 'Nanum Pen Script', cursive;
$font-secondaire: 'Gafata', sans-serif;
$font-tertiare: 'East Sea Dokdo', cursive;

// MAIN CSS

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: whitesmoke;
    font-family: $font-principale;
    font-size: 1.2rem;
    background-color: #3B556D;
}

.App {
    width: auto;
    height: 100vh;

    .main-content {
        width: 100%;
        height: auto;
        background-color: #B8CBD0;
    }

    .content {
    }

    .footer {
        border-top: solid 1px #5FC2BA;
        p {
            text-align: center;
        }
    }
}